<h2 id="account_header"><%= @account.name %></h2>
<div id="account_crud">
<%= link_to "Edit Account", edit_account_path(@account) %><br />
<%= link_to "Delete Account",
  account_path(@account),
  method: :delete,
  data: { confirm:
    "Are you sure you want to delete this account?"
} %><br />
</div>
<ul id="show_account">
  <li>Account Number: <%= @account.number %></li>
  <li>Phone Number: <%= @account.phone_number %></li>
  <li>website: <%= @account.website %></li>
  <li>email: <%= @account.email %></li>
</ul>
<%= link_to "New Bill", new_account_bill_path(@account) %>
<ul id='bills'>
  <% @account.bills.each do |bill| %>
    <li>
    #<%= bill.id %> -
    <%= link_to bill.invoice_number, [@account, bill] %>
    </li>
  <% end %>
</ul>
